
<mat-card class="white-content">
  <mat-toolbar [color]="'primary'">
    <div class="center">
      Sudoku Game
    </div>
    <div class="right">
        <mat-select [(ngModel)]="difficulty_level" placeholder="Level" (ngModelChange)="change_DifficultyLevel($event)" >
            <mat-option value="easy">Easy</mat-option>
            <mat-option value="medium">Medium</mat-option>
            <mat-option value="hard">Hard</mat-option>
          </mat-select>
    </div>
  </mat-toolbar>
  
  <mat-card-content class="white-content">
    <div [ngClass]="{'solve-message': status === 'solved', 'unsolved-message ': status !== 'solved'}">
      {{ game_status }}
    </div>
    @if(loading)
    {
    <div class="spinner-container">
      <!-- Loading spinner -->
      <mat-spinner diameter="50" ></mat-spinner>
    </div>
  }
  @else {
    <app-board [gameBoard]="gameBoard" [(activeField)]="activeField"></app-board>
  }
  </mat-card-content>
  @if(!loading)
  {
  <mat-card-actions class="white-content">
    <div>
    <div class="options">
      <button mat-raised-button (click) ="newGame()" >
        New Game
    </button>
        <button mat-raised-button (click) ="validateBoard()" >
            Validate
        </button>
        <button mat-raised-button  (click) ="solvePuzzle()">
            Auto Solve
        </button>
      </div>
      <div class="controls" >
        <button *ngFor="let button of numberButtons"
               button
                [disabled]="!this.activeField || this.activeField.readonly"
                (click)="insertNumber(button.number)">
          {{ button.number }}
        </button>
      </div>
    </div>
  </mat-card-actions>
}
</mat-card>



 